html
body
	height 100%

body
	margin 0
	font-size:62.5%
	font-family sans-serif

.clearfix:after
	content ""
	display table
	clear both

.main-page
	min-height 100%

/* header */
header
	height 40px

/* footer */
.clear_footer
	height 200px

footer
	height 200px
	margin-top -200px